<div>
    <a href="{% url 'google_call' 'google_callback_signup' %}">google_callback_signup</a>
    <br>
    <a href="{% url 'google_call' 'google_callback_login' %}">google_callback_login</a>
    <br>
    <a href="{% url 'google_call' 'google_callback_add_social' %}">google_callback_add_social</a>
    <br>
    <a href="{% url 'google_call' 'google_callback_revoke' %}">google_callback_revoke</a>
</div>

<div>
    <p>pk: {{ user.pk }}</p>
    <br>
    <p>id: {{ user.id }}</p>
    <br>
    <p>name: {{ user.name }}</p>
    <br>
    <p>email: {{ user.email }}</p>
    <br>
</div>